<launch>

    <include file="$(find zeabus_elec_ros_power_dist)/launch/power_dist.launch"/>

    <include file="$(find zeabus_elec_ros_peripheral_bridge)/launch/peripheral_bridge.launch"/>

    <node name="Zeabus_Elec_Hardware_interface" pkg="zeabus_elec_ros_hardware_interface" type="zeabus_elec_ros_hardware_interface">

        <arg name="atm_pressure_arg" default="14.6959"/>
        <arg name="depth_offset_arg" default="0"/>

        <param name="atm_pressure" value="$(arg atm_pressure_arg)"/>
        <param name="depth_offset" value="$(arg depth_offset_arg)"/>

    </node>

</launch>

